<h1><%= @workout.name %></h1>
<p>
  <strong>Category:</strong> <%= @workout.category %>
</p>
<p>
  <strong>Description:</strong> <%= @workout.description %>
</p>
<p>
  <strong>Muscle Group:</strong> <%= @workout.muscle_group %>
</p>
<p>
  <strong>Equipment:</strong> <%= @workout.equipment %>
</p>

<div class="actions">
  <%= link_to 'Edit Workout', edit_workout_path(@workout), class: 'btn btn-primary' %>
  <%= link_to 'Delete Workout', @workout, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this Workout record?' }, class: 'btn btn-danger' %>
  <%= link_to 'Back to Workouts', workouts_path, class: 'btn btn-secondary' %>
</div>