<h1>BMI</h1>
<h1>BMI Record</h1>

<p><strong>BMI Number:</strong> <%= @bmi.number %></p>
<p><strong>Category:</strong> <%= @bmi.category %></p>
<p><strong>Height:</strong> <%= @bmi.height %> meters</p>
<p><strong>Weight:</strong> <%= @bmi.weight %> kilograms</p>
<p><strong>Created At:</strong> <%= @bmi.created_at.strftime("%B %d, %Y") %></p>

<div class="actions">
  <%= link_to 'Edit BMI', edit_bmi_path(@bmi), class: 'btn btn-warning' %>
  <%= button_to "Delete", @bmi, method: :delete, data: { confirm: "Are you sure you want to delete this BMI?" },class: "btn btn-danger" %>
</div>
<%= link_to 'Back to my BMIs', bmis_path, class: 'btn btn-primary' %>

